@use "variables" as v;
html {
  height: 1080px;
}
body {
  position: relative;
  font-family: v.$primary-font;
  color: v.$primary-color;
  margin-left: 160px;
  padding: 0;

  a {
    color: v.$primary-color;
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
    text-decoration: none;
  }
  background-image: url(@/assets/background.jpg);
  background-repeat: no-repeat;

  img.woman {
    position: absolute;
    top: 80px;
    left: 250px;
    z-index: -1;
    width: 1439px;
  }
}

.button {
  background-color: v.$primary-color;
  color: white;
  border-radius: 32px;
  padding: 10px 24px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 8px;
  ul {
    display: flex;
    align-items: center;
    gap: 56px;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  div.compra {
    display: flex;
    gap: 32px;
    margin-right: -100px;
  }

  div.sign {
    display: flex;
    gap: 40px;
    margin-left: -50px;
    a:first-child {
      padding: 10px 0;
      text-decoration: underline;
    }
  }

  a.more {
    display: flex;
    align-items: center;
    gap: 15px;
  }
}

h1 > span {
  color: v.$secondary-color;
  font-weight: 600;
  font-size: 36px;
  line-height: 100%;
  letter-spacing: 0%;
}

.hero__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 819px;
  padding: 16px;
  margin-right: 316px;
  margin-bottom: 90px;

  h1 {
    font-weight: 700;
    font-size: 64px;
    line-height: 80px;
    letter-spacing: 0%;
  }
  p {
    font-weight: 400;
    font-size: 24px;
    line-height: 40px;
    letter-spacing: 0%;
    color: rgba(144, 144, 144, 1);
  }

  div.buttons {
    img {
      margin: 0;
      padding: 16px;
      border-radius: 100%;
      background-color: white;
      vertical-align: center;
      box-shadow: 0px 24px 50px 0px rgba(0, 0, 0, 0.15);
    }
    display: flex;
    align-items: center;
    gap: 32px;
    a {
      display: inline-flex;
      align-items: center;
      gap: 16px;
    }
  }
}

.hero__treatments {
  display: flex;
  justify-content: center;
  gap: 72px;
  width: 550px;
  border-radius: 16px;
  padding: 32px;
  background-color: white;
  article {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    span {
      font-weight: 500;
      font-size: 36px;
      line-height: 100%;
      letter-spacing: 0%;
    }
    p {
      font-weight: 400;
      font-size: 18px;
      line-height: 100%;
      letter-spacing: 0%;
      text-align: center;
    }
  }
}

.testimony {
  position: absolute;
  right: 66px;
  top: 480px;
  display: flex;
  flex-direction: column;
  gap: 65px;
  width: 545px;
  h4 {
    font-weight: 700;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
    margin-top: 8px;
  }
  article {
    width: 350px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 16px;
    align-self: flex-start;
    padding: 24px;
  }

  article:first-child {
    align-self: flex-end;
  }
}
